@model IEnumerable<InternProject.CsvFileConverter.Library.Extensions.Mapping.DealData>

@{
    ViewData["Title"] = "Index";
}

<h2>Deal Data</h2>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<p>
    
        <a href="@Url.Action("Create")" class="btn btn-default"><i class="far fa-plus-square"></i> Create New</a>
        <button class="btn btn-default" id="upload" onclick="showtext()"><i class=""></i> Upload</button>
        <div id="uploaddata" class="hidden">
            <textarea id="txtarea" ></textarea>
            <a href="@Url.Action("Upload")" id="save" class="btn btn-default" >Save</a>
        </div>
        <script>
            function showtext() {
                var x = document.getElementById("uploaddata");
                if (x.style.hidden === true) {
                    x.style.display = "block";
                }
            }
        </script>
</p>
<table class="clickable table table-condensed table-hover small" id="dealsTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DealName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EFrontDealId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.V3CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionFees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherFees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveInActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExitDate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr >
            <td onclick="ClickRow()" id="my_clickable_cell">
                @Html.DisplayFor(modelItem => item.DealName)
            </td>
            <td onclick="ClickRow()" id="my_clickable_cell">
                @Html.DisplayFor(modelItem => item.EFrontDealId)
            </td>
            <td onclick="ClickRow()" id="my_clickable_cell">
                @Html.DisplayFor(modelItem => item.V3CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector)
            </td>
            <td onclick="ClickRow()" id="my_clickable_cell">
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td onclick="ClickRow()" id="my_clickable_cell">
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td onclick="ClickRow()" id="my_clickable_cell">
                @Html.DisplayFor(modelItem => item.TransactionFees)
            </td>
            <td onclick="ClickRow()" id="my_clickable_cell">
                @Html.DisplayFor(modelItem => item.OtherFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td onclick="ClickRow()" id="my_clickable_cell">
                @Html.DisplayFor(modelItem => item.ActiveInActive)
            </td>
            <td onclick="ClickRow()" id="my_clickable_cell">
                @Html.DisplayFor(modelItem => item.ExitDate)
            </td>
            <td>
                <script>
                    function ClickRow() {
                        var row = document.getElementById("my_clickable_cell");
                        $.getJSON('@Url.Action("Create", new { id = item.V3DealId })');
                    }
                </script>
                <a href="@Url.Action("Create", new {id = item.V3DealId})" class="btn btn-default"><i class="fas fa-pencil-alt"></i> Edit</a>|
                <a class="btn btn-default" onclick="Delete()"><i class="fas fa-trash-alt"></i> Delete</a>
                <a href="@Url.Action("Delete", new {id = item.V3DealId})" id="deleteitem"></a>
                <script>
                    function Delete() {
                        var checkstr = confirm('are you sure you want to delete this?');
                        if (checkstr === true) {
                            var strMethodUrl = '@Url.Action("Delete", new {id = item.V3DealId})';
                            $.getJSON(strMethodUrl);
                        }
                        return false;
                    }
                </script>

            </td>
        </tr>
    }
    </tbody>
</table>
