@model IEnumerable<InternProject.CsvFileConverter.Library.Extensions.Mapping.DealData>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EFrontDealId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.V3DealId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DealName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.V3CompanyId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.V3CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SectorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sector)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionFees)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OtherFees)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Currency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActiveInActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExitDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EFrontDealId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.V3DealId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.V3CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.V3CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveInActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
